@charset "UTF-8";
/*************************
*******Typography******
**************************/
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(../fonts/HelveticaNeueCyr-Roman.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(../fonts/HelveticaNeueCyr-Medium.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(../fonts/HelveticaNeueCyrr-Italic.woff) format("woff"), url("HelveticaNeueCyr-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
body {
  padding-top: 10px;
  background: #fefefe;
  font: "$primaryFont", sans-serif;
  font-weight: 400;
  color: #494949;
  line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 350 normal 31px/31px HelveticaNeueCyr, OpenSans, Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 18px;
}

p {
  font: 16px/24px HelveticaNeueCyr, OpenSans, Arial, Helvetica, sans-serif;
}

a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover, a:focus {
  text-decoration: none;
  color: #2a95be;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.section-header {
  margin-bottom: 50px;
}
.section-header p {
  font: 16px/24px HelveticaNeueCyr, OpenSans, Arial, Helvetica, sans-serif;
}
.section-header .section-title, .section-header .section-title--gnr {
  font: 350 normal 31px/31px HelveticaNeueCyr, OpenSans, Arial, Helvetica, sans-serif;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before, .section-header .section-title--gnr:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after, .section-header .section-title--gnr:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}
.section-header .section-title--gnr {
  font-size: 21px;
  color: #45aed6;
}

.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}
.btn.btn-primary {
  background: #45aed6;
  border-color: #2a95be;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background: #2a95be;
}

.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #45aed6;
}

p.nostyle {
  padding: 0;
  margin-bottom: 20px;
}
p.nostyle i {
  color: #45aed6;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.postimg {
  display: inline-block;
  position: relative;
  float: left;
  margin: 10px 40px;
  width: 300px;
  height: auto;
}

.title-generic {
  display: inline-block;
  width: 75%;
  min-width: 350px;
  font-size: 24px;
  font-weight: 480;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #696969;
  /*border: 1px solid red;*/
}
@media only screen and (min-width: 768px) {
  .title-generic {
    width: 100%;
    margin-left: 150px;
  }
}

#history {
  padding: 100px 0;
}
#history p {
  font-size: 18px;
  text-indent: 1.5em;
  text-align: justify;
}

.section-header p {
  font-style: italic;
}

figure {
  display: flex;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
}
figure:hover {
  overflow: hidden;
}
figure p {
  font-size: 14px;
  opacity: 1;
}
figure img {
  width: auto;
  max-height: 350px;
}
figure img:hover {
  transform: scale(1.1);
  transition: width 0.5s ease-in;
  transition: transform 0.5s ease-in;
}
figure figcaption {
  width: 90%;
  height: 50%;
  padding: 10px;
  background: rgba(250, 250, 250, 0.9);
  bottom: -20%;
  box-sizing: border-box;
  position: absolute;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  color: #333;
}
figure:hover figcaption {
  position: absolute;
  bottom: -20%;
  height: 10%;
  transition: height 0.5s ease-in;
}
figure:hover p {
  opacity: 0;
  transition: opacity 0.1s ease-in 0.2s;
}

.navbar-generic {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0;
  margin-bottom: 0;
  height: 70px;
  margin-top: 0px;
  padding: 0px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 70px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}
.navbar-generic .navbar-nav > li {
  background: rgba(255, 255, 255, 0.9);
}
.navbar-generic .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 10px;
}
.navbar-generic .navbar-nav > li > a i {
  font-size: 24px;
  line-height: 24px;
  color: #01bf56;
}
.navbar-generic .navbar-nav > li.active > a, .navbar-generic .navbar-nav > li.open > a, .navbar-generic .navbar-nav > li:hover > a {
  padding-top: 17px;
  border-top: 3px solid #45aed6;
}
.navbar-generic .navbar-toggle {
  margin-top: 6px;
  margin-bottom: 16px;
  background: #45aed6;
}
.navbar-generic .navbar-toggle span {
  background: #fff;
}

@media only screen and (min-width: 768px) {
  #main-menu.navbar-generic {
    height: 70px;
    margin-top: 0px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.9);
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 70px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
  #main-menu.navbar-generic .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #main-menu.navbar-generic .navbar-nav > li.active > a, #main-menu.navbar-generic .navbar-nav > li.open > a, #main-menu.navbar-generic .navbar-nav > li:hover > a {
    padding-top: 17px;
    border-top: 3px solid #45aed6;
  }
}
/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);*/
#get-in-touch, #portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview, .service-box:hover .pull-left > i {
  background: linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}

/*************************
*******Header******
**************************/
.title {
  display: inline-block;
  font-size: 24px;
  font-weight: 280;
  font-family: 16px/24px HelveticaNeueCyr, OpenSans, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #217494;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #fff;
}
.title span {
  color: red;
}
@media only screen and (min-width: 768px) {
  .title {
    width: 100%;
    text-align: left;
    margin-left: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .title {
    width: 80%;
    margin: 0;
    background-color: #fff;
  }
}
.title.disap {
  display: none;
}

.navbar.navbar-default {
  /*height: 150px;*/
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  margin-bottom: 0;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: bottom center;
}
.navbar.navbar-default .navbar-nav > li:hover {
  background-color: #FFF;
}
.navbar.navbar-default .navbar-nav > li > a {
  color: #217494;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 16px;
  margin-bottom: 16px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 5px 15px;
}
@media all and (max-width: 767px) {
  .navbar.navbar-default .navbar-brand {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
    height: 150px;
    margin-top: 0px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.9);
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 150px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
  #main-menu.navbar-default .navbar-nav > li:hover {
    background-color: #FFF;
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a, #main-menu.navbar-default .navbar-nav > li.open > a, #main-menu.navbar-default .navbar-nav > li:hover > a {
    padding-top: 17px;
    border-top: 3px solid #45aed6;
  }
  #main-menu.past-main {
    background: rgba(255, 255, 255, 0.9);
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 60px;
    height: 60px;
    margin-top: 0px;
    padding: 0px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
}
#main-slider {
  overflow: hidden;
  margin-top: 135px;
}
#main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 30% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#main-slider .slider-inner .carousel-content {
  max-width: 70vw;
}
#main-slider .slider-inner h2 {
  margin-top: 180px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner h2 > span {
  color: #45aed6;
}
#main-slider .slider-inner p {
  font: 22px/36px HelveticaNeueCyr, OpenSans, Arial, Helvetica, sans-serif;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #45aed6;
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}

#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #45aed6;
}

#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

#cta {
  padding: 50px 0;
  background-color: #eeeeee;
}
#cta h2 {
  margin-top: 0;
}
#cta .filename {
  font: 22px/36px HelveticaNeueCyr, OpenSans, Arial, Helvetica, sans-serif;
}
#cta .btn {
  display: inline-block;
  height: 64px;
  margin-top: 0px;
}
#cta .btn i {
  font-size: 24px;
  line-height: 36px;
}
#cta .btn span {
  padding-left: 20px;
  color: #494949;
}

#cta2 {
  background: #242a33 url(../images/cta2/cta2-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 40px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #45aed6;
}

#about {
  padding: 50px 0;
}
#about img {
  max-height: 400px;
}
#about .chiefbox {
  margin-top: 0px;
  font: 22px/36px HelveticaNeueCyr, OpenSans, Arial, Helvetica, sans-serif;
  border: 0px solid red;
}

#features {
  padding: 50px 0;
}
#features .service-box {
  margin-top: 50px;
}
#features .service-box:first-child {
  margin-top: 80px;
}

#services {
  padding: 100px 0 75px;
}

.service-box {
  margin: 65px 0;
  height: 65px;
  cursor: pointer;
  /*border: 1px solid red; display: inline-block;*/
}
.service-box p {
  display: none;
}
.service-box .media-body:hover > p {
  display: inline-block;
}
.service-box .pull-left {
  margin-right: 20px;
}
.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #45aed6;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}
.service-box:hover .pull-left > i {
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}

#portfolio {
  padding: 100px 0;
  background: #f5f5f5;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  background: #e5e5e5;
  color: #494949;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover, #portfolio .portfolio-filter > li a.active {
  background: #45aed6;
  color: #fff;
  box-shadow: 0 -3px 0 0 #318daf inset;
  -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
}
#portfolio .portfolio-filter > li a.active:after {
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #318daf transparent transparent transparent;
}
#portfolio .portfolio-filter > li:first-child a {
  border-radius: 4px 0 0 4px;
}
#portfolio .portfolio-filter > li:last-child a {
  border-radius: 0 4px 4px 0;
}
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
  position: absolute;
  top: -18px;
  right: 12px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

#testimonial {
  background: #333 url(../images/testimonial/bg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 0;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}

#about {
  padding: 50px 0;
}

#work-process {
  padding: 100px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#work-process h2 {
  color: #fff;
}
#work-process h3 {
  color: #fff;
  margin-bottom: 0;
}
#work-process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #45aed6;
  border-radius: 100px;
  position: relative;
}
#work-process .icon-circle > i {
  font-size: 24px;
}
#work-process .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #45aed6;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #494949;
}
#work-process h3 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 50px;
}

#meet-team {
  padding: 100px 0;
}
#meet-team .team-member {
  padding: 13px;
  background: #eeeeee;
  border: 2px solid #eeeeee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
}
#meet-team .team-member .team-img {
  margin: -15px -15px 0 -15px;
}
#meet-team .team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
#meet-team .team-member:hover {
  border-color: #45aed6;
}
#meet-team .team-member:hover .social-icons > li > a {
  background: #45aed6;
}
#meet-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
#meet-team .social-icons > li {
  display: inline-block;
}
#meet-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, white 0%, #e3e3e3 49%, white 100%);
  background-image: -webkit-linear-gradient(180deg, white 0%, #e3e3e3 49%, white 100%);
  background-image: -ms-linear-gradient(180deg, white 0%, #e3e3e3 49%, white 100%);
  width: 95%;
  height: 1px;
}

.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  @­extend %ghorizontal();
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-group .imgcontent {
  height: 500px;
  border: 1px soliid red;
}

.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}

.tab-content {
  height: auto;
  max-height: 400px;
  overflow: scroll;
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}

.plan {
  font-size: 16px;
  color: #494949;
}
.plan span {
  color: #217494;
  text-decoration: underline;
}
.plan ol {
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.plan li {
  font: 200 18px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
.plan li .line {
  padding: 8px;
  color: #494949;
  border-left: 2px solid #999;
}
.plan li:last-child {
  border: none;
}
.plan li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: font-size 0.3s ease, color 0.3s ease;
  -moz-transition: font-size 0.3s ease, color 0.3s ease;
  -o-transition: font-size 0.3s ease, color 0.3s ease;
  -ms-transition: font-size 0.3s ease, color 0.3s ease;
  transition: font-size 0.3s ease, color 0.3s ease;
  display: block;
  width: 100%;
}
.plan li:hover a {
  font-size: 21px;
  color: #17546b;
}

.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}

#animated-number {
  padding: 100px 0 70px;
  background: #132125 url(../images/animated-number/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
}
#animated-number h1, #animated-number h2, #animated-number h3, #animated-number h4 {
  color: #fff;
}
#animated-number strong {
  display: block;
  margin-bottom: 30px;
}

.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}

#get-in-touch {
  padding: 100px 0 50px;
  color: #fff;
}
#get-in-touch h1, #get-in-touch h2 {
  color: #fff;
}

#blog {
  padding: 100px 0;
}
#blog .blog-post {
  border: 1px solid #eee;
  padding: 15px;
}
#blog .blog-post .post-format {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #222534;
  border: 3px solid #fff;
  border-radius: 100px;
}
#blog .blog-post.blog-large .entry-thumbnail {
  margin: -15px -15px 15px;
  position: relative;
}
#blog .blog-post.blog-large .post-format {
  width: 66px;
  height: 66px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  bottom: -33px;
}
#blog .blog-post.blog-large .post-format > i {
  font-size: 20px;
}
#blog .blog-post.blog-large .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}
#blog .blog-post.blog-large .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-large .entry-title a {
  color: #494949;
}
#blog .blog-post.blog-large .entry-title a:hover {
  color: #45aed6;
}
#blog .blog-post.blog-media {
  margin-bottom: 30px;
}
#blog .blog-post.blog-media .entry-thumbnail {
  margin: -15px 15px -15px -15px;
  position: relative;
}
#blog .blog-post.blog-media .post-format {
  position: absolute;
  top: 20px;
  right: -10px;
}
#blog .blog-post.blog-media .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}
#blog .blog-post.blog-media .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-media .entry-title a {
  color: #494949;
}
#blog .blog-post.blog-media .entry-title a:hover {
  color: #45aed6;
}
#blog .blog-post .entry-meta {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
#blog .blog-post .entry-meta > span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
#blog .blog-post .entry-meta > span > a {
  color: #999;
}
#blog .blog-post .entry-meta > span > a:hover {
  color: #45aed6;
}

#contact {
  position: relative;
  overflow: hidden;
  /*background-color: red;*/
  background-color: #17546b;
}
#contact .container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#contact .contact-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  margin-top: 20px;
}
#contact .contact-form h3 {
  margin-top: 0;
}
#contact .contact-form p > a {
  font-size: 18px;
  color: #17546b;
}

/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
  background: #282f35;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #45aed6;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}

#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}

@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/*# sourceMappingURL=main.css.map */
